body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
    background-image: url('botbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#chat-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border: 5px solid rgb(248, 226, 229);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
#chat-log {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}
#chat-log p {
    margin: 5px 0;
}
input[type="text"] {
    width: calc(100% - 80px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 80px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#home-button:hover {
    background-color: #0056b3;
}
